<%= form_for(@asset_type,:html => {:class => 'form-horizontal'}) do |f| %>
<% if f.object.errors.any? %>
<div class="form-group" style="padding-left:2em;padding-right:2em;">
  <div class="alert alert-danger" role="alert">
    <div id="clear"></div>
    <div id="error">
      <p class="title">
        <%= t 'activemodel.errors.messages', count: f.object.errors.count %>
      </p>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <div id="clear"></div>
  </div>
</div>
<% end %>
<div class="form-group">
  <%= label_tag 'name', "Asset type name*", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.text_field :name, class: 'form-control'%>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'description', "Description*", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.text_area :description, class: 'form-control'%>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= f.submit :class => "btn btn-primary btn-block btn-lg" %>
  </div>
</div>
<% end %>
