<div class="card-pf">
  <div class="login-pf-header">
    <h1>
      <%= @asset_type.name.capitalize %>

      <% if is_logged_in %>
        <%= link_to 'Remove', asset_type_path(@asset_type), method: :delete, data: { :confirm => "Are you sure?" }, class: "btn btn-danger pull-right" %>
      <% end %>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'form_new' %>
    </div>
    <div class="col-md-6">
      <h2><%= @asset_type.name.capitalize %> assets</h2>
      <%= render :template => 'assets/index' %>
    </div>
  </div>
</div>
