<%= form_for([@asset_mission.mission, @asset_mission], :html => {:class => 'form-horizontal'}) do |f| %>
<% if f.object.errors.any? %>
<div class="form-group" style="padding-left:2em; padding-right:2em;">
  <div class="alert alert-danger" role="alert">
    <div id="clear"></div>
    <div id="error">
      <p class="title">
        <%= t 'activemodel.errors.messages', count: f.object.errors.count %>
      </p>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <div id="clear"></div>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= label_tag 'placed_at', "Placed on*", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.date_field :placed_at, class: 'form-control'%>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'extracted_at', "Removed on", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.date_field :extracted_at, class: 'form-control'%>
  </div>
</div>

<%= form.file_field :raw_data, multiple: true, direct_upload: true %>

<div class="form-group">
  <%= label_tag 'position_x', "Position x", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.number_field :position_x, class: 'form-control'%>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'position_y', "Position y", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.number_field :position_y, class: 'form-control'%>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'position_z', "Position z", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.number_field :position_z, class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= label_tag 'comments', "Comment", class: 'col-sm-2 col-md-2 control-label' %>
  <div class="col-sm-10 col-md-10">
    <%= f.text_field :comments, class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <%= f.submit :class => "btn btn-primary btn-block btn-lg" %>
  </div>
</div>
<% end %>
