<div>
  <div class="row">
    <label class="col-sm-4 col-md-4">Owner</label>
    <div class="col-sm-8 col-md-8">
      <%= @asset.user.firstname.capitalize %> <%= @asset.user.lastname.capitalize %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Asset type</label>
    <div class="col-sm-8 col-md-8">
      <%= @asset.asset_type ? @asset.asset_type.name : '-' %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Product serial</label>
    <div class="col-sm-8 col-md-8">
      <%= @asset.product_serial %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Description</label>
    <div class="col-sm-8 col-md-8">
      <%= @asset.description %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Battery life (hours)</label>
    <div class="col-sm-8 col-md-8">
      <% if @asset.battery_life %>
      <%= @asset.battery_life %> hours
      <% else %>
      -
      <% end %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Date of purchase</label>
    <div class="col-sm-8 col-md-8">
      <%= @asset.date_purchase.strftime("%d.%m.%Y") %>
    </div>
  </div>
</div>
