<div class="card-pf">
  <div class="login-pf-header">
    <h1>
      <%= @asset.product_serial.upcase %>
      
      <% if is_logged_in %>
        <%= link_to 'Remove', asset_archive_path(@asset), method: :post, data: { :confirm => "Are you sure?" }, class: "btn btn-danger pull-right" %>
      <% end %>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% if is_logged_in %>
      <%= render 'form_new' %>
      <% else %>
      <%= render 'anon_show' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render :template => 'missions/index' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-6 col-md-6">
      <%= render 'battery_replacement/index' %>
    </div>
  </div>
</div>
