<div>
  <div class="row">
    <label class="col-sm-4 col-md-4">Owner</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.user.firstname.capitalize %> <%= @mission.user.lastname.capitalize %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Mission name</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.project_name %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Description</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.description %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Starting date</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.starting_date.strftime("%d.%m.%Y") %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-4 col-md-4">Ending date</label>
    <div class="col-sm-8 col-md-8">
      <%= @mission.ending_date ? @mission.ending_date.strftime("%d.%m.%Y") : '-' %>
    </div>
  </div>
</div>
