<div class="card-pf">
  <div class="login-pf-header">
    <h1>
      <%= @mission.project_name.upcase %>

      <% if is_logged_in %>
        <%= link_to 'Remove', mission_path(@mission), method: :delete, data: { :confirm => "Are you sure?" }, class: "btn btn-danger pull-right" %>
      <% end %>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <% if is_logged_in %>
      <%= render 'form_new' %>
      <% else %>
      <%= render 'anon_show' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h2>Assets</h2>
      <% if is_logged_in %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to 'Assign assets to this mission', mission_prepare_assets_path(@mission) , class: "btn btn-default" %>
        </div>
      </div>
      <% end %>
      <%= render 'assets_list' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>
