<div class="card-pf">
  <div class="login-pf-header">
    <h1>
      <%= @mission.project_name.upcase %>

      <% if is_logged_in %>
      <div class="pull-right">
        <%= link_to 'Edit', edit_mission_path(@mission), class: "btn btn-primary" %>
        <%= link_to 'Remove', mission_path(@mission), method: :delete, data: { :confirm => "Are you sure?" }, class: "btn btn-danger" %>
      </div>
      <% end %>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'anon_show' %>
    </div>
  </div>
</div>

<div class="card-pf">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Assets
        <% if is_logged_in %>
          <%= link_to 'Assign assets', mission_prepare_assets_path(@mission) , class: "btn btn-default pull-right" %>
        <% end %>
      </h2>
      <%= render 'assets_list' %>
    </div>
  </div>
</div>
