<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag("ISSKA_logo.png", width: "62", alt: "NAM") %>
      <span class="navbar-brand-name">Numeric Assets Management</span>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li class="dropdown">
        <button class="btn btn-link nav-item-iconic fa pficon-help" data-toggle="modal" data-target="#about-modal"></button>
      </li>
      <li class="dropdown">
        <% currently_logged = current_logged_user %>
        <% if currently_logged %>
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span>
          <span class="dropdown-title">
            <%= currently_logged.firstname.capitalize %>
            <%= currently_logged.lastname.capitalize %>
            <b class="caret"></b>
          </span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t('menu.settings'), user_path(currently_logged) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to t('menu.log_out'), logout_path, method: :delete %>
          </li>
        </ul>
        <% else %>
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span>
          <span class="dropdown-title">
            <%= t('menu.account_label') %> <b class="caret"></b>
          </span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t('menu.log_in'), login_path %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to t('menu.register'), new_user_path %>
          </li>
        </ul>
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-primary">
      <li>
        <%= link_to t('menu.home'), root_path %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= t('menu.assets_label') %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t('menu.asset_types'), asset_types_path %>
          </li>
          <li>
            <%= link_to t('menu.assets'), assets_path %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t('menu.missions'), missions_path %>
      </li>
    </ul>
  </div>
</nav>
